<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>
<body>
    <main>
        <h1>{{title}}</h1>
        {{message}}
        Lets go back to the <a href={{link.path}}>{{link.name}}</a> page :)
    </main>
    {{>footer}}
</body>
</html>