<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="images/weather.png">
    <link rel="stylesheet" href="css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <main>
        {{>header}}
        <section>
            <img class="portrait" src={{ src }} alt={{ myName }}>
            <p>Weather app created using data from mapbox.com and weatherstack.com</p>
        </section>
    </main>
    {{>footer}}
</body>
</html>